<app-header titulo="card"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Awesome Label</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda aspernatur placeat doloremque quasi maiores, perspiciatis hic. Perferendis, molestias neque facere amet mollitia architecto, expedita assumenda quo repudiandae, rerum eum?
        </ion-card-content>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda aspernatur placeat doloremque quasi maiores, perspiciatis hic. Perferendis, molestias neque facere amet mollitia architecto, expedita assumenda quo repudiandae, rerum eum?
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0a26f8e0-55ff-4944-8fb8-b745353978e9/de5f51x-9a449f9e-6691-44c1-b383-76b5fdd02a57.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMGEyNmY4ZTAtNTVmZi00OTQ0LThmYjgtYjc0NTM1Mzk3OGU5XC9kZTVmNTF4LTlhNDQ5ZjllLTY2OTEtNDRjMS1iMzgzLTc2YjVmZGQwMmE1Ny5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.zbF6PbuxYf618umDFM2B7uZnmKPo-Rgah0VpxVdA_u8"
            alt="">
    </ion-card>

</ion-content>